doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Update
    link(rel='stylesheet', href='../stylesheets/update.css')
    script(src='../javascripts/jquery.js')
  body
    h1 #{title}
    a(href="/")
      h5 Back to Home
    form(method="post", action="/update")
      input#inputId(type='hidden', name='id', value='#{teachers.id}')
      span Name：
      input#inputName(type='text', name='name', value='#{teachers.name}')
      span Age：
      input#inputAge(type='text', name='age', value='#{teachers.age}')
      span College：
      input#inputLoc(type='text', name='loc', value='#{teachers.loc}')
      span Working Year：
      input#inputYear(type='text', name='year', value='#{teachers.year}')
      span QQ：
      input#inputQQ(type='text', name='qq', value='#{teachers.qq}')
      span Phone：
      input#inputPhone(type='text', name='phone', value='#{teachers.phone}')
      span Email：
      input#inputEmail(type='text', name='email', value='#{teachers.email}')
      span Address：
      input#inputAddress(type='text', name='address', value='#{teachers.address}')
      input#update(type='submit', value='COMFIRM')
